<body>

    <!-- Top Bar -->
    <div class="site-top-bar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="site-top-bar-left-section">
                        <a>
                            <i class="fa fa-clock-o"></i>
                            <span>Mon to Sat : 07:00 - 11:30</span>
                        </a>
                    </div>
                    <div class="site-top-bar-right-section">
                        <a href="tel:+1801454587">
                            <i class="fa fa-phone"></i>
                            <span>+1 801 4545 87</span>
                        </a>
                        <a href="mailto:contact@gmail.com">
                            <i class="fa fa-envelope"></i>
                            <span>contact&#64;gmail.com</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="site-header" id="sticky-header">
        <div class="container-fluid">
            <nav class="site-nav" data-navbar>
                <h2><a href="/">STAMINA</a></h2>
                <ul class="nav-right">
                    <!-- <li><a href="/">Home</a></li> -->
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a class="active" href="/about">About</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <!-- Vlog Section -->
<div class="container vlog-section mt-5">
    <h2 class="text-center mb-4">Our Latest Vlogs</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="vlog-post">
                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/online-workout-training-video-thumbnail-design-template-98ee10ad8702d75894e3414ac230fcdd_screen.jpg?ts=1634825836" alt="Vlog Thumbnail">
                <h4>Vlog - 1</h4>
                <p>"Transform Your Body: 30-Day Fitness Challenge"</p>
                <a href="https://www.youtube.com/watch?v=lumimB_aa7M&ab_channel=JustMerk" class="btn btn-orange btn-custom">Watch Now</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="vlog-post">
                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/fitness-workout-video-thumbnail-design-template-1d2f1fb5830cc9faf773e0155c27a565_screen.jpg?ts=1634957723" alt="Vlog Thumbnail">
                <h4>Vlog - 2</h4>
                <p>How to Stay Motivated to Workout</p>
                <a href="https://www.youtube.com/watch?v=p0RR4LWlt5w&ab_channel=DanielSimmons" class="btn btn-orange btn-custom">Watch Now</a>
            </div>
        </div>
    </div>
</div>

<!-- Testimonials Section -->
<div class="testimonials container mt-5">
    <h2 class="text-center mb-4">What Our Clients Say</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="testimonial-item">
                <p>"Joining Stamina was the best decision I ever made. The trainers are fantastic and the environment is so motivating."</p>
                <small>- Alex M.</small>
            </div>
        </div>
        <div class="col-md-4">
            <div class="testimonial-item">
                <p>"I've achieved my fitness goals thanks to the excellent programs at Stamina. Highly recommend it!"</p>
                <small>- Sarah K.</small>
            </div>
        </div>
        <div class="col-md-4">
            <div class="testimonial-item">
                <p>"The community at Stamina is amazing. It's not just a gym, it's a family."</p>
                <small>- John D.</small>
            </div>
        </div>
    </div>
</div>







<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>